In [1]:
from splinter import Browser
from bs4 import BeautifulSoup

import pandas as pd

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [3]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [5]:
news_title =  soup.find('div', class_='content_title').a.text
news_p = soup.find('div', class_='article_teaser_body').text

print(news_title)
print(news_p)

InSight Is Catching Rays on Mars
The lander has sent data indicating its solar panels are open and receiving sunlight to power its surface operations.

# JPL Mars Space Images - Featured Image

In [6]:
# URL of page to be scraped
url1 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url1)

In [7]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [8]:
carousel_item =  soup.find('article', class_='carousel_item')

In [9]:
print(carousel_item.prettify())

<article alt="A Splendor Seldom Seen" class="carousel_item" style="background-image: url('/spaceimages/images/wallpaper/PIA14934-1920x1200.jpg');">
 <div class="default floating_text_area ms-layer">
  <h2 class="category_title">
  </h2>
  <h2 class="brand_title">
   FEATURED IMAGE
  </h2>
  <h1 class="media_feature_title">
   A Splendor Seldom Seen
  </h1>
  <div class="description">
  </div>
  <footer>
   <a class="button fancybox" data-description="NASA's Cassini spacecraft has delivered a glorious view of Saturn, taken while the spacecraft was in Saturn's shadow. The cameras were turned toward Saturn and the sun so that the planet and rings are backlit." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA14934_ip.jpg" data-link="/spaceimages/details.php?id=PIA14934" data-title="A Splendor Seldom Seen" id="full_image">
    FULL IMAGE
   </a>
  </footer>
 </div>
 <div class="gradient_container_top">
 </div>
 <div class="gradient_container_bottom">
 </div>
</article>

In [10]:
style = carousel_item["style"]
print(style)

background-image: url('/spaceimages/images/wallpaper/PIA14934-1920x1200.jpg');

In [11]:
split_text = style.split("'")
print(split_text[1])

/spaceimages/images/wallpaper/PIA14934-1920x1200.jpg

In [12]:
featured_image_url = 'https://www.jpl.nasa.gov' + split_text[1]
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA14934-1920x1200.jpg

# Mars Weather

In [13]:
# URL of page to be scraped
url2 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url2)

In [14]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [15]:
tweet_text_container = soup.find('div', class_='js-tweet-text-container')
print(tweet_text_container.prettify())

<div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">
  Sol 2240 (2018-11-24), high 0C/32F, low -70C/-93F, pressure at 8.49 hPa, daylight 06:28-18:44
 </p>
</div>

In [16]:
mars_weather = tweet_text_container.p.text 
print(mars_weather)

Sol 2240 (2018-11-24), high 0C/32F, low -70C/-93F, pressure at 8.49 hPa, daylight 06:28-18:44

# Mars Facts

In [17]:
# URL of page to be scraped
url3 = 'http://space-facts.com/mars/'
browser.visit(url3)

In [18]:
tables = pd.read_html(url3)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [19]:
df = tables[0]
df.columns = ["profile", "profile_value"]
df.head()

                profile                  profile_value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [20]:
df.set_index('profile', inplace=True)
df.head()

                                      profile_value
profile
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)

In [21]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>profile_value</th>\n    </tr>\n    <tr>\n      <th>profile</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [22]:
url4 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url4)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

hemisphere_image_urls = []

hemis_titles = soup.find_all('h3')

for i in range(4):
    hemis_title = hemis_titles[i].text
    print(hemis_title)
    
    hemis_images = browser.find_by_tag('h3')
    hemis_images[i].click()
    
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    
    img_url = soup.find('img', class_='wide-image')['src']
    img_url = "https://astrogeology.usgs.gov" + img_url
    print(img_url)
    
    hemis_dict = {"title": hemis_title, "img_url":img_url}
    hemisphere_image_urls.append(hemis_dict)
    
    browser.back()

Cerberus Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg
Schiaparelli Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg
Syrtis Major Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg
Valles Marineris Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg

In [23]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [24]:
browser.quit()